body {
    font-family: Arial;
    background-color: #477FB0;
}

#logo {
    width: 223px;
    height: 54px;
    background: url(../img/logo.png) no-repeat center center;
    margin: 10px auto;
}

#login-wrapper {
    border: 1px solid White;
    background-color: #C35824;
    margin: auto;
    display: table;
    padding: 10px;
    color: White;
}

input[type=button], input[type=submit] {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    border: 1px solid #b2b2b2;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
    -webkit-text-shadow: 0 1px 1px #fff;
    text-shadow: 0 1px 1px #fff;
    -webkit-transition: box-shadow .25s;
    -moz-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    transition: box-shadow .25s;
    background-color: #f5f9fa;
    color: #454545;
    padding: 7px 8px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    min-width: 80px;
}

.rounded-corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.editor-field {
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    padding: 5px;
    min-width: 200px;
}

.align-right{
    text-align: right;
}